azure-storage-file>=1.0
azure-storage-blob>=1.0
azure-common>=1.1.15
azure-cosmos>=1.0.0
cassandra-driver>=1.0.0
numpy
avro
pillow
pyyaml
tensorflow-gpu>=1.12
keras>=2.2.4
Scikit-learn>=0.20
cognitive_face>=1.4
keras_vggface
Flask>=1.0.0